body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
}
.logo img {
    height: 200px;
    width: 200px;
}
.menu-social {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
nav {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    background-color:#cc3333;  
    padding: 8px 20px;
    border-radius: 8px;        
    box-shadow:  4px 6px rgba(0, 0, 0, 0.815); 
}
nav ul {
    list-style: none;
    display: flex;
    gap: 55px;
    margin: 0;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    color: #000000;   
    font-size: 25px;
    display: inline-block;
    transition: transform 150ms ease, color 150ms ease;
}
nav ul li a:hover {
    transform: scale(1.15);
    color: #ffffff; 
}


.social-icons {
    display: flex;
    gap: 15px;
    margin-left: auto; 
}

.social-icons img {
    height: 38px;
    width: 38px;
    transition: transform 150ms ease;
}


.social-icons img:hover {
    transform: scale(1.18);
}
.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    background-color:#cc3333;
    gap: 40px;
}
.about-text {
    flex: 1;
    background-color: #ffffff; 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 15px;
    color: #cc3333;
}

.about-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
.btn-productos {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 22px;
    background-color: #cc3333;  
    color: #fff;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

.btn-productos:hover {
    background-color: #a82828;
    transform: scale(1.05);
}
.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    object-fit: cover;
}
.productos-galeria {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 50px 0;
}

.producto-card {
    position: relative;
    width: 300px;
    height: 250px;
    overflow: hidden;
    border-radius: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    background-color: #ffffff;
}

.producto-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nombre-producto {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #cc3333;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    letter-spacing: 1px;
   
}
.producto-card:hover img {
    transform: scale(1.05);
    transition: 0.3s;
}
.info-container {
    display: flex;
    justify-content: space-between;
    background-color: #0000000e;
    gap: 40px;
    padding: 40px 20px;
    margin-top: 40px;
}


.horario, .lista-precios {
    width: 48%;
    background: #ffffff; 
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}


.horario h2, .lista-precios h2 {
    text-align: left;
    color: #b30000; 
    font-size: 26px;
    margin-bottom: 15px;
}


.horario ul, .lista-precios ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.horario ul li,
.lista-precios ul li {
    font-size: 18px;
    padding: 8px 0;
    border-bottom: 1px solid #000000;
}


.horario ul li:last-child,
.lista-precios ul li:last-child {
    border-bottom: none;
}
footer.footer {
    background: #b30000; 
    color: white;
    padding: 50px 20px 20px;
    margin-top: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.footer-col {
    width: 22%;
    min-width: 250px;
}

.footer-col h3 {
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffcccc;
    padding-bottom: 5px;
}

.footer-col p {
    font-size: 15px;
    line-height: 1.5;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin: 8px 0;
    font-size: 15px;
}

.footer-col ul li a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
}

.footer-col ul li a:hover {
    color: #ffdddd;
    letter-spacing: 1px;
}

.footer-social {
    display: flex;
    gap: 12px;
    margin: 15px 0;
}

.footer-social img {
    width: 32px;
    height: 32px;
    transition: transform .2s;
}

.footer-social img:hover {
    transform: scale(1.15);
}

.footer-col input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
}

.footer-col button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #ffcccc;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.papa{
    visibility: visible;
}

.footer-col button:hover {
    background: #ffffff;
    color: #b30000;
}


.footer-copy {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #ffaaaa;
    margin-top: 20px;
}



@media (min-width: 300px) and (max-width: 600px) {

    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

   
    .logo img {
        height: 100px;
        width: 100px;
    }

   
    nav {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 60%;
        height: 100%;
        background: #cc3333;
        padding-top: 80px;
        border-radius: 0;
        box-shadow: -3px 0 10px rgba(0,0,0,0.4);
    }

    nav ul {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }

    nav ul li a {
        font-size: 22px;
        color: #fff;
    }

    
    .hamburger {
        display: block;
        font-size: 40px;
        cursor: pointer;
        margin-left: auto;
    }

    .social-icons {
        display: none;
    }

  
    nav.active {
        display: block;
    }


   
    .about-section {
        flex-direction: column;
        padding: 20px;
        text-align: center;
    }

    .about-text {
        width: 100%;
    }

    .about-image img {
        width: 100%;
        margin-top: 15px;
    }


  
    .productos-galeria {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .producto-card {
        width: 90%;
        height: 220px;
    }

   
    .info-container {
        flex-direction: column;
        gap: 20px;
    }

    .horario, .lista-precios {
        width: 80%;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .footer-col {
        width: 100%;
    }
}