body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #ffffff;
}
.logo img {
    height: 200px;
    width: 200px;
}
.menu-social {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}
nav {
    position: absolute;
    left: 40%;
    transform: translateX(-50%);
    background-color:#cc3333;  
    padding: 8px 20px;
    border-radius: 8px;        
    box-shadow:  4px 6px rgba(0, 0, 0, 0.815); 
}
nav ul {
    list-style: none;
    display: flex;
    gap: 55px;
    margin: 0;
    padding: 0;
}
nav ul li a {
    text-decoration: none;
    color: #000000;   
    font-size: 25px;
    display: inline-block;
    transition: transform 150ms ease, color 150ms ease;
}
nav ul li a:hover {
    transform: scale(1.15);
    color: #ffffff; 
}
.social-icons {
    display: flex;
    gap: 15px;
    margin-left: auto;
}

.social-icons img {
    height: 38px;
    width: 38px;
    transition: transform 150ms ease;
}

.social-icons img:hover {
    transform: scale(1.18);
}


.productos-container {
    padding: 40px 5%;
    text-align: center;
    background-color: #000000;
}

.productos-container h1 {
    font-size: 40px;
    color: #ffffff;
}

.sub {
    color: #ffffff;
    margin-bottom: 30px;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.producto-card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px #ccc;
}

.producto-card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.producto-card h3 {
    margin-top: 10px;
    color: #b30000;
}

.precio {
    font-weight: bold;
    color: #000000;
    display: block;
    margin-top: 12px;
}
.texto-productos {
    width: 85%;
    margin: 40px auto;
    padding: 20px 30px;
    background: #fff3f3;
    border-left: 6px solid #b30000;
    border-radius: 10px;
    font-size: 19px;
    line-height: 1.7;
    color: #000000;
    text-align: center;
}

.productos-circulos {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 40px;
}

.circle-card {
    text-align: center;
}

.circle-card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #b30000;
    transition: 0.3s;
}

.circle-card img:hover {
    transform: scale(1.1);
}

.circle-card p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: 600;
}
footer.footer {
    background: #b30000; 
    color: white;
    padding: 50px 20px 20px;
    margin-top: 60px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.footer-col {
    width: 22%;
    min-width: 250px;
}

.footer-col h3 {
    font-size: 22px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}

.footer-col p {
    font-size: 15px;
    line-height: 1.5;
}

.footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-col ul li {
    margin: 8px 0;
    font-size: 15px;
}

.footer-col ul li a {
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    letter-spacing: 1px;
}

.footer-social {
    display: flex;
    gap: 12px;
    margin: 15px 0;
}

.footer-social img {
    width: 32px;
    height: 32px;
    transition: transform .2s;
}

.footer-social img:hover {
    transform: scale(1.15);
}

.footer-col input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
}

.footer-col button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.footer-col button:hover {
    background: #000000;
    color: #ffffff;
}


.footer-copy {
    text-align: center;
    font-size: 14px;
    padding-top: 20px;
    border-top: 1px solid #ffffff;
    margin-top: 20px;
}
